[submodule "openshift-ansible"]
	path = openshift-ansible
	url = https://github.com/openshift/openshift-ansible.git
	branch = openshift-ansible-3.7.44-1
[submodule "easy-rsa"]
	path = easy-rsa
	url = https://github.com/OpenVPN/easy-rsa
	branch = v3.0.5
